{% include 'header.html' %}
{% from 'macros.html' import render_form %}
<div class="starter-template">
  <h1>Configure the Debugger</h1>
  <div class="container">
    <div class="container">
      <h3 class="starter-template">Current Teams</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Team</th>
            <th>Score</th>
            <th>Possible Score</th>
          </tr>
        </thead>
        <tbody>
        {% for team in execute_db_query('select * from team') %}
          <tr>
            <td>{{ team['team_name'] }}</td>
            <td>{{ execute_db_query('select sum(poll_score) as s from poll join service ON (poll.service_id = service.service_id) join team ON (service.team_id = team.team_id) where team.team_id = ?', [team['team_id']])[0]['s']  }}</td>
            <td>{{ execute_db_query('select count(poll_score) as c from poll join service ON (poll.service_id = service.service_id) join team ON (service.team_id = team.team_id) where team.team_id = ?', [team['team_id']])[0]['c']  }}</td>
            <td><form method='POST' action='/team/remove' role='form'><input type="hidden" name="team_id" value={{ team['team_id'] }}> <input class='btn btn-primary' type='submit' value='Delete'></form></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class='container rounded form-block'>
      <h3>New Team</h3>
      {{ render_form(forms['addTeamForm'], action_url='/team/add', action_text='Add Team') }}
    </div>

    <h3 class="starter-template">Current Services</h3>
    <div class="container">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Team Name</th>
            <th>Service Name</th>
            <th>Score</th>
            <th>Possible Score</th>
          </tr>
        </thead>
        <tbody>
        {% for service in execute_db_query('select * from service where service_active=1') %}
          {% set db_result = execute_db_query('select poll_score from poll where service_id = ? ORDER BY poll_time DESC LIMIT 1', [service['service_id']]) %}
          {% if db_result|length <= 0 %}
            <tr>
          {% elif db_result[0]['poll_score'] == 0 %}
            <tr class='danger'>
          {% else %}
            <tr class='success'>
          {% endif %}
            <td>{{ execute_db_query('select team_name from team where team_id = ?', [service['team_id']])[0]['team_name'] }}</td>
            <td>{{ service['service_name'] }}</td>
            <td>{{ execute_db_query('select sum(poll_score) as s from poll join service on (poll.service_id = service.service_id) where service.service_id = ?', [service['service_id']])[0]['s'] }}</td>
            <td>{{ execute_db_query('select count(poll_score) as c from poll join service on (poll.service_id = service.service_id) where service.service_id = ?', [service['service_id']])[0]['c'] }}</td>
            <td><form method='POST' action='/service/remove' role='form'><input type="hidden" name='service_id' value={{ service['service_id'] }}> <input class='btn btn-primary' type='submit' value='Delete'></form></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class='container rounded form-block'>
      <h3>New DNS Service</h3>
      {{ render_form(forms['addDNSServiceForm'], action_url='/service/dns/add', action_text='Add DNS Service') }}
    </div><br><br>
    <div class='container rounded form-block'>
      <h3>New Web Service</h3>
      {{ render_form(forms['addWebServiceForm'], action_url='/service/web/add', action_text='Add Web Service') }}
    </div><br><br>
    <div class='container rounded form-block'>
      <h3>New Mail Service</h3>
      {{ render_form(forms['addMailServiceForm'], action_url='/service/remove', action_text='Add Mail Service') }}
    </div>
  </div>
</div><!-- /.container -->
{% include 'footer.html' %}
