{#
   Judge v0.1 - configure.html
   Author: Ryan Cobb (@cobbr_io)
   Project Home: https://github.com/cobbr/Judge
   License: GNU GPLv3
#}

{% include 'header.html' %}
{% from 'macros.html' import render_form, render_field %}
<div class="starter-template">
  <h1>Configure Judge</h1>
  <div class="container">
    <div class="container">
      <h3 class="starter-template">Current Teams</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Team</th>
          </tr>
        </thead>
        <tbody>
        {% for team in execute_db_query('select * from team') %}
          <tr>
            <td>{{ team['team_name'] }}<form method='POST' action='/team/remove' role='form'><input type="hidden" name="team_id" value={{ team['team_id'] }}> <input class='btn btn-danger' type='submit' value='Delete'></form></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class='container rounded form-block'>
      <h3>New Team</h3>
      {{ render_form(forms['addTeamForm'], action_url='/team/add', action_text='Add Team') }}
    </div>

    <h3 class="starter-template">Current Services</h3>
    <div class="container">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Service Name</th>
          </tr>
        </thead>
        <tbody>
        {% for service in execute_db_query('select * from service where service_active=1') %}
            <td>{{ service['service_name'] }}<form method='POST' action='/service/remove' role='form'><input type="hidden" name='service_id' value={{ service['service_id'] }}> <input class='btn btn-danger' type='submit' value='Delete'></form></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div><!-- /.container -->
{% include 'footer.html' %}
