{#
   Judge v0.1 - scoreboard.html
   Author: Ryan Cobb (@cobbr_io)
   Project Home: https://github.com/cobbr/Judge
   License: GNU GPLv3
#}

{% include 'header.html' %}
    <div class="starter-template">
      <h1>Scoreboard</h1>
      <div class="container">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Score</th>
              <th>Possible Score</th>
            </tr>
          </thead>
          <tbody>
          {% for team in execute_db_query('select team.team_name, team.team_id, sum(poll_score) as s from team join service on(team.team_id=service.team_id) join poll on(poll.service_id=service.service_id) group by team.team_name, team.team_id order by s DESC') %}
            <tr>
              <td>{{ loop.index }}. {{ team['team_name'] }}</td>
              <td>{{ team['s'] }}</td>
              <td>{{ execute_db_query('select count(poll_score) as c FROM poll join service on(poll.service_id=service.service_id) WHERE service.team_id = ?', [team['team_id']])[0]['c'] }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <br><br><br>
        <h3 class="starter-template">Team's Detailed Service Scores</h3>
        {% for team in execute_db_query('select * from team') %}
        <table class="table table-condensed">
          <h3>{{ team['team_name'] }}</h3>
          <thead>
            <tr>
              <th>Service Name</th>
              <th>Score</th>
              <th>Possible Score</th>
            </tr>
          </thead>
          <tbody>
          {% for service in execute_db_query('select * from service where service.team_id = ?', [team['team_id']]) %}
            {% set db_result = execute_db_query('select poll_score from poll where service_id = ? ORDER BY poll_time DESC LIMIT 1', [service['service_id']]) %}
            {% if db_result|length <= 0 %}
              <tr>
            {% elif db_result[0]['poll_score'] == 0 %}
              <tr class='danger'>
            {% else %}
              <tr class='success'>
            {% endif %}
              <td>{{ service['service_name'] }}</td>
              <td>{{ execute_db_query('select sum(poll_score) as s FROM poll WHERE poll.service_id = ?', [service['service_id']])[0]['s'] }}</td>
              <td>{{ execute_db_query('select count(poll_score) as c FROM poll WHERE poll.service_id= ?', [service['service_id']])[0]['c'] }}</td>
            </tr>
          {% endfor %}
            <tr>
              <td><b>Total</b></td>
              <td><b>{{ execute_db_query('select sum(poll_score) as s FROM poll join service on(poll.service_id = service.service_id) WHERE service.team_id = ?', [team['team_id']])[0]['s'] }}</b></td>
              <td><b>{{ execute_db_query('select count(poll_score) as c FROM poll join service on(poll.service_id = service.service_id) WHERE service.team_id = ?', [team['team_id']])[0]['c'] }}</b></td>
            </tr>
          </tbody>
        </table>
        {% endfor %}
      </div><!-- /.container -->
    <div>
{% include 'footer.html' %}
