{% from 'macros.html' import render_form %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>Debugger Scoreboard</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/starter-template.css') }}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="scoreboard">CCDC-Debugger</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="scoreboard">Scoreboard</a></li>
            <li class="active"><a href="configure">Configure</a></li>
            <li><a href="errors">Errors</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="starter-template">
      <h1>Configure the Debugger</h1>
      <div class="container">
        <h3 class="starter-template">Current Teams</h3>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Team</th>
              <th>Score</th>
              <th>Possible Score</th>
            </tr>
          </thead>
          <tbody>
          {% for team in execute_db_query('select * from team') %}
            <tr>
              <td>{{ team['team_name'] }}</td>
              <td>{{ execute_db_query('select sum(poll_score) as s from poll join service ON (poll.service_id = service.service_id) join team ON (service.team_id = team.team_id) where team.team_id = ?', [team['team_id']])[0]['s']  }}</td>
              <td>{{ execute_db_query('select count(poll_score) as c from poll join service ON (poll.service_id = service.service_id) join team ON (service.team_id = team.team_id) where team.team_id = ?', [team['team_id']])[0]['c']  }}</td> 
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <div>
          <h3>New Team</h3>
          {{ render_form(forms['addTeamForm'], action_url='/team/add', action_text='Add Team') }}
        </div>

        <h3 class="starter-template">Current Services</h3>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Team Name</th>
              <th>Service Name</th>
              <th>Score</th>
              <th>Possible Score</th>
            </tr>
          </thead>
          <tbody>
          {% for service in execute_db_query('select * from service where service_active=1') %}
            {% for row in execute_db_query('select poll_score from poll where service_id = ? ORDER BY poll_time DESC LIMIT 1', [service['service_id']]) %}
              {% if loop.first and row[0]['poll_score'] == 0 %}
                <tr class='danger'>
              {% else %}
                <tr class='success'>
              {% endif %}
            {% endfor %}
              <td>{{ execute_db_query('select team_name from team where team_id = ?', [service['team_id']])[0]['team_name'] }}</td>
              <td>{{ service['service_name'] }}</td>
              <td>{{ execute_db_query('select sum(poll_score) as s from poll join service on (poll.service_id = service.service_id) where service.service_id = ?', [service['service_id']])[0]['s'] }}</td>
              <td>{{ execute_db_query('select count(poll_score) as c from poll join service on (poll.service_id = service.service_id) where service.service_id = ?', [service['service_id']])[0]['c'] }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <div>
          <h3>New DNS Service</h3>
          {{ render_form(forms['addDNSServiceForm'], action_url='/service/dns/add', action_text='Add DNS Service') }}
        </div>
        <div>
          <h3>New Web Service</h3>
          {{ render_form(forms['addWebServiceForm'], action_url='/service/web/add', action_text='Add Web Service') }}
        </div> 
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 
  </body>
</html>
